@page
@using Microsoft.AspNetCore.Http
@using websuli.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Üdvözlöm a Websuliban</h1>
      


        <form method="POST">

            <div> @Html.DisplayNameFor(gm => gm.fsor.gyerek):<input asp-for="fsor.gyerek" class="form-control-lg" width="30" /></div>
            <select asp-for="fsor.feladatTipus" asp-items="FealdatsorLOV.FeladatTipusLista" >  </select>
            <input asp-for="fsor.feladatszam" class="form-control-lg" width="30" />          
            <button type="submit">regisztrál</button>
            <button type=submit asp-page-handler="Matek">Matekozzunk!</button>


        </form>
 

        
    </div>
